/* ============================== common ============================== */
a {
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
}

.logo-img {
    width: 250px;
}

input:focus {
    border-color: #ccc !important;
}

.line-clamp {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.break-all {
    word-break: break-all;
}

/* ============================== header ============================== */
/* ======================== categories ======================== */
.dropdown-toggle:hover .dropdown-menu {
    display: block;
}

.categories .item:hover {
    background: #ffffff;
}

.item {
    transition: 0.3s;
}

.item:hover {
    transform: translateY(-5px);
}

.link-item {
    color: black;
}

.social-btns {
    position: fixed;
    bottom: 30px;
    right: 25px;
}

#scrollTopBtn {
    background: none;
}

.fm-categories:hover {
    background: #ffffff;
}

.fm-categories {
    position: relative;
}

.menu-dropdown {
    display: none;
    position: absolute;
    left: 13px;
    width: 1320px;
    height: 200px;
    background: white;
}

.fm-menu-lap {
    position: absolute;
    left: -152px;
}

.fm-menu-accessory {
    position: absolute;
    left: -317px;
}

.fm-menu-smartwatch {
    position: absolute;
    left: -482px;
}

.fm-menu-watch {
    position: absolute;
    left: -647px;
}

.fm-tablet-lap {
    position: absolute;
    left: -812px;
}

.fm-menu-monitor {
    position: absolute;
    left: -977px;
}

.fm-menu-sim {
    position: absolute;
    left: -1142px;
}

.fm-categories:hover .menu-dropdown {
    display: flex;
}

.menu-dropdown a {
    color: black;
    display: inline-block;
    margin-bottom: 4px;
}

.menu-dropdown a:hover {
    color: blue;
}

.menu-mobi .nav-item:hover {
    background: #fff;
}

/* banner */
.main-banner {
    margin-top: 160px;
}

/* ==================================== main ====================================== */
.fm-buynow-btn {
    width: 48%;
}

/* ==================================== footer ====================================== */
footer a:hover {
    color: blue !important;
}
