/* PC */
@media (min-width: 992px) {
    /* navbar */
    .login-cart {
        border-bottom: 0;
    }

    /* breadcrum */
    .breadcrumb-bar {
        margin-top: 180px;
    }
}

/* Tablet & mobi */
@media (max-width: 991.98px) {
    /* ================== header ================== */
    .main-banner {
        margin-top: 120px;
    }

    .login-cart {
        border-bottom: 1px solid rgba(0, 0, 0, 0.43);
    }

    /* user box dropdown */
    #user-box {
        left: 0;
    }

    /* cart box dropdown */
    .cart-box {
        right: 0;
    }

    /* breadcrum */
    .breadcrumb-bar {
        margin-top: 110px;
    }

    /* ================== laptop page ================== */
    .banner-laptop {
        margin-top: -20px;
    }

    /* ================== cart page ================== */
    .cart-page {
        margin-top: 120px;
    }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 991.98px) {
}

/* mobi */
@media (max-width: 767.98px) {
    /* ============== header cart hover ============== */
    .cart-box {
        left: -50%;
    }

    /* ============== account info ============== */
    #v-pills-tab {
        padding: 5px !important;
    }
}
